.header {
  background: $header-bg;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;

  font-family: 'Arial', sans-serif;

  &-link {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
  }

  &-right {
    display: flex;
    gap: 20px;

    .fa-user,
    .fa-user-plus {
      font-size: 24px;
    }
  }

  &-center {
    display: flex;
    gap: 40px;
  }
}
