.header{
    background: $header-bg;
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;

    &-link{
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
    }
    &-right{
        display: flex;
        gap: 20px;
    }
    &-center{
        display: flex;
        gap: 40px;
    }
}