  
.gofundme-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
.gofundme-popup {
    position: relative;
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
}
  
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
}
  
.leaflet-popup-content{
    width: fit-content !important;
}

.fullscreen-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
}
  
.fullscreen-modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center;
}
  
.fullscreen-modal-content img {
    width: 100%;
    height: auto;
}
  
.fullscreen-modal-content p {
    color: white;
    margin-top: 10px;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
  
.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.help-request-data{
    .images{
        .image-item{
            img{
                width: 80px;
            }
        }
    }
}
  